/* reset styles */
div, a, ul, li, p, span,
h1, h2, h3, h4, h5, h6,
button, form, input {
	margin: 0;
	padding: 0;
	outline:none;
	box-sizing: border-box;
}

/* body */
body {
	font-family: "Ubuntu", "Open Sans", "Montserrat", sans-serif;
	font-size: 15px;
	color: #201b2d;
	background-color: #fff;
	padding: 0;
	margin: 0;
}

/* container */
.container {
	max-width: 1170px;
	margin: 0 auto;
}

/* header */
.header {
	height: 100vh;
	color: #fff;
	background: rgba(102, 204, 255, 1);
	background: -moz-linear-gradient(-45deg, rgba(102, 204, 255, 1) 0%, rgba(51, 153, 204, 1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(102, 204, 255, 1)), color-stop(100%, rgba(51, 153, 204, 1)));
	background: -webkit-linear-gradient(-45deg, rgba(102, 204, 255, 1) 0%, rgba(51, 153, 204, 1) 100%);
	background: -o-linear-gradient(-45deg, rgba(102, 204, 255, 1) 0%, rgba(51, 153, 204, 1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(102, 204, 255, 1) 0%, rgba(51, 153, 204, 1) 100%);
	background: linear-gradient(135deg, rgba(102, 204, 255, 1) 0%, rgba(51, 153, 204, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ccff', endColorstr='#3399cc', GradientType=1 );
}

.logo {
	padding-top: 60px;
	width: 100px;
	height: 38px;
}

/* header main wrapper */
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* main content in header  */
.content {
	max-width: 560px;
}
.title {
	font-family: "Ubuntu";
	font-weight: 700;
	font-size: 37px;
}
.title span {
	font-size: 60px;
	line-height: 1.6;
}

.intro {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.5;
	width: 412px;
	padding-top: 25px;
}

.button {
	display: block;
	width: 222px;
	padding: 20px;
	margin-top: 45px;
	font-family: "Montserrat";
	font-weight: 900;
	font-size: 15px;
	color: #000;
	text-align: center;
	border-radius: 2px;
	background-color: #ffcc33;
	transition: background-color 0.2s ease-in;
	text-decoration: none;
}

.button:hover {
	background-color: #e7af08;
}

/* Header image */
.header__img {
	width: 100%;
}

/* Future */
.future__title,
.form__title {
	text-align: center;
	font-family: "Ubuntu";
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.6px;
	padding-top: 111px;
	padding-bottom: 80px;
}

.future__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-top: 70px;
}

.future__item {
	width: 285px;
}
.future-img {
	margin-bottom: 25px;
}
.future__item-title {
	font-family: "Ubuntu";
	font-size: 19px;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 7px;
}
.future__item-text {
	font-family: "Ubuntu";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 1.3;
	color: #201b2d;
}

/* Form */
.form {
	margin-top: 110px;
	padding-bottom: 115px;
	background: rgba(242, 247, 250, 1);
	background: -moz-linear-gradient(-45deg, rgba(242, 247, 250, 1) 0%, rgba(236, 243, 248, 1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242, 247, 250, 1)), color-stop(100%, rgba(236, 243, 248, 1)));
	background: -webkit-linear-gradient(-45deg, rgba(242, 247, 250, 1) 0%, rgba(236, 243, 248, 1) 100%);
	background: -o-linear-gradient(-45deg, rgba(242, 247, 250, 1) 0%, rgba(236, 243, 248, 1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(242, 247, 250, 1) 0%, rgba(236, 243, 248, 1) 100%);
	background: linear-gradient(135deg, rgba(242, 247, 250, 1) 0%, rgba(236, 243, 248, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f7fa', endColorstr='#ecf3f8', GradientType=1 );
}

.form-action input,
.form-action a {
	display: block;
	width: 345px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	transition: background-color 0.2s ease-in;
}

.form-action button:hover {
	background-color: #e7af08;
}

/* Footer */
.footer__inner {
	font-family: "Open Sans", sans-serif;
	color: #fff;
	padding: 40px 0;
	background-color: #164d7a;
	text-align: center;

}
